<html>
<body>
	<h1  id="mainHeading" align="center">Search Meals</h1>
	<p id="pageDescription" >Select meal category.</p>
	<form id="search-form" method="POST"
		action="SearchFood.do">
		<label id="meal-type-label" for="meal-type">Meal-type:</label>
		<select id="meal-typeList" name="meal-type" size="1", width="9em" height="auto">
			<option id="meal-option-one" value="breakfast">breakfast</option>
			<option id="meal-option-two" value="lunch">lunch</option>
			<option id="meal-option-three" value="dinner">dinner</option>
			<option id="meal-option-four" value="dessert">dessert</option>
		</select>
		<br><br>
		<center>
			<input id="search-button" type="SUBMIT" value="Submit">
		</center>
	</form>
</body>
</html>