<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Simple Meal Preferences Application</display-name>  
  <servlet>
  	<servlet-name>Search Food</servlet-name>
  	<servlet-class>com.webAppDev.servlets.SearchFood</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Search Food</servlet-name>
  	<url-pattern>/SearchFood.do</url-pattern>
  </servlet-mapping>
</web-app>
